*{
	padding: 0;
	margin: 0;
/*	box-sizing: border-box; */
	font-family: sans-serif;
}
.intro{
	background:#b9f2ff;

}

.services{
	margin-top:80px;
}

.output{
	width: 400px;
	height: 400px;
}

.activity button{
	background-color: #5CB3FF;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.container{
	background-color: #CC3D3D;
}

.template-demo button{
	text-align: center;
}

.mdi-36px {
     font-size: 39px;
     margin-right: 10px
 }

 .container {
     margin-top: 150px
 }
/*
h1{
	/**color: #4C4B4B;**
	font-weight: bold;
	transition: 1s;
}
h3{
	/**color:#2F363F;**
}
*/
/**
button{
	border:none;
	border-radius: 1px;
	padding: 10px;
	background:#7B8788; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}

button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}

*/
.footer{
	color:black;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}

.footer p{
	font-size: 20px;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
}

